* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html , body {
    width: 100%;
    overflow-x: hidden;
    font-size: 10px;
    font-family: 'Montserrat', sans-serif;
    
}






/* nav bar */
/* nav bar */
.nav-bar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    transition: all 0.3s ease;
    background-color: #fff;
    padding: 2rem 5% 1.5rem;
}



.logo a {
    font-size: 2.5rem;
    font-weight: 600;
    color: #000;
    text-decoration: none;
}


.logo span {
    font-size: 1.5rem;
}

.burger {
    height: 2.25rem;
    width: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

.line {
    height: 2px;
    width: 100%;
    background-color: #000;
}

/* burger animation */
/* burger animation */
.burger.open .line1 {
    -moz-transform: rotate(45deg) translate(8px, 7px);
    -o-transform: rotate(45deg) translate(8px, 7px);
    -ms-transform: rotate(45deg) translate(8px, 7px);
    -webkit-transform: rotate(45deg) translate(8px, 7px);
    transform: rotate(45deg) translate(8px, 7px);
    transition: all 0.4s ease;
    background-color: #000;
}

.burger.open .line2 {
    opacity: 0;
    transition: all 0.4s ease;
}

.burger.open .line3 {
    -moz-transform: rotate(-45deg) translate(7px, -6px);
    -o-transform: rotate(-45deg) translate(7px, -6px);
    -ms-transform: rotate(-45deg) translate(7px, -6px);
    -webkit-transform: rotate(-45deg) translate(7px, -6px);
    transform: rotate(-45deg) translate(7px, -6px);
    transition: all 0.4s ease;
    background-color: #000;
}










.nav-links {
    position: fixed;
    background-color: #fff;
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 10rem 0;
    transform: translateX(100%);
    transition: transform 0.4s ease;
    z-index: 100;
}

.active {
    transform: translateX(0);
}

.social-links {
    width: 25%;
    display: flex;
    justify-content: space-around;
    overflow: hidden;
}

.icon {
    width: 2rem;
    height: 2rem;
}

.nav-links li {
    list-style: none;
    height: 2.2rem;
    overflow: hidden;

}

.nav-links li a {
    color: #000;
    font-size: 1.8rem;
    text-decoration: none;
    opacity: 1;
    display: inline-block;
}

@keyframes navLinkFade {
    from {
        transform: translateY(-50px);
        opacity: 0;
        /* transform: translateY(5rem); */
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}








/* header section */
/* header section */
/* header section */
/* header section */
/* header section */
.header {
    height: 100vh;
    width: 100%;
    position: relative;
    z-index: 1;
}

.header-img {
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    background-image: url(/images/header.jpg);
    background-position: center;
    background-size: cover;
    background-position: no-repeat;
    z-index: 1;
}

.header-text-container {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header-text {
    font-size: 6rem;
    position: relative;
    left: 10%;
    color: #fff;
    font-weight: 500;
    top: 20%;
}




/* gallery section */
/* gallery section */
/* gallery section */
.gallery-section {
    position: relative;
    overflow: hidden;
    z-index: 1;
    background-color: #fff;
}

.project__container {
    width: 70%;
    margin: 100px auto;
    /* border: 1px solid #5c5c5c; */
    color: #fff;
    padding: 120px 40px;
    
}

.project__container-title h1{
    color: #fff;
    font-family: "GrandSlang Roman";
    font-size: 140px;
}

.project__container-subtitle {
    margin: 20px 0;
    font-family: "Neue Montreal";
    font-size: 16px;
}

.project__container-images {
    position: relative;
    width: 100%;
    /* height: 2000px; */
    padding: 40px 0;
}


.img-text-container {
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
}

.img-text {
    font-size: 4rem;
    color: #fff;
    font-weight: 600;
}

.project__image {
    background: red;
    width: 400px;
    height: 600px;
    margin: 40px auto;
}

.project__image-one {
    background: url(/images/1.jpg) no-repeat 50% 50%;
    background-size: cover;
}

.project__image-two {
    position: relative;
    top: -100px;
    left: -60px;
    background: url(/images/2.jpg) no-repeat 50% 50%;
    background-size: cover;
}

.project__image-three {
    position: relative;
    left: 100px;
    background: url(/images/3.jpg) no-repeat 50% 50%;
    background-size: cover;
}

.project__image-four {
    position: relative;
    top: -200px;
    left: -100px;
    background: url(/images/4.jpg) no-repeat 50% 50%;
    background-size: cover;
}

.project__image-five {
    position: relative;
    left: -100px;
    background: url(/images/5.jpg) no-repeat 50% 50%;
    background-size: cover;
}

.project__image-six {
    position: relative;
    top: -250px;
    right: -100px;
    background: url(/images/pjt8.jpg) no-repeat 50% 50%;
    background-size: cover;
}

.project__image-seven {
    position: relative;
    top: -250px;
    background: url(/images/8.jpg) no-repeat 50% 50%;
    background-size: cover;
}



.footer {
    width: 100%;
    position: relative;
    padding: 4rem 5%;
    bottom: 20rem;
}

.all-projects, .all-projects a {
    text-decoration: none;
    font-size: 20px;
    margin: 20px 0;
    text-align: center;
    color: #000;
    position: relative;
    margin-bottom: 15rem
}

.footer-details {
    margin-top: 2rem;
}

.footer-details p, .footer-details a {
    font-size: 1.6rem;
    font-weight: 300;
    color: #000;
    margin-bottom: 1rem;
}

















    /* project page */
    /* project page */
    /* project page */
    /* project page */
    /* project page */
    .project__image-1 {
        position: relative;
        top: 100px;
        right: -50px;
        background: url(/images/pjt6.jpg) no-repeat 50% 50%;
        background-size: cover;
    }

    .project__image-2 {
        position: relative;
        top: -200px;
        right: 50px;
        background: url(/images/pjt4.jpg) no-repeat 50% 50%;
        background-size: cover;
    }

    .project__image-3 {
        position: relative;
        top: -100px;
        right: -120px;
        background: url(/images/pjt2.jpg) no-repeat 50% 50%;
        background-size: cover;
    }

    .project__image-4 {
        position: relative;
        top: -200px;
        left: -70px;
        background: url(/images/pjt14.jpg) no-repeat 50% 50%;
        background-size: cover;
    }

    .project__image-5 {
        position: relative;
        top: -200px;
        right: 0px;
        background: url(/images/pjt5.jpg) no-repeat 50% 50%;
        background-size: cover;
    }

    .project__image-6 {
        position: relative;
        top: -400px;
        left: 60px;
        background: url(/images/7.jpg) no-repeat 50% 50%;
        background-size: cover;
    }

    .project__image-7 {
        position: relative;
        top: -400px;
        left: 0px;
        background: url(/images/header.jpg) no-repeat 50% 50%;
        background-size: cover;
    }

    .project__image-8 {
        position: relative;
        top: -100px;
        right: 80px;
        background: url(/images/pjt1.jpg) no-repeat 50% 50%;
        background-size: cover;
    }

    .project__image-9 {
        position: relative;
        top: -400px;
        left: 100px;
        background: url(/images/pjt10.jpg) no-repeat 50% 50%;
        background-size: cover;
    }

    .project__image-10 {
        position: relative;
        top: -400px;
        left: 0px;
        background: url(/images/5.jpg) no-repeat 50% 50%;
        background-size: cover;
    }

    .project__image-11 {
        position: relative;
        top: -340px;
        right: 30px;
        background: url(/images/2.jpg) no-repeat 50% 50%;
        background-size: cover;
    }

    .project__image-12 {
        position: relative;
        top: -200px;
        left: 50px;
        background: url(/images/3.jpg) no-repeat 50% 50%;
        background-size: cover;
    }

    .project__image-13 {
        position: relative;
        top: -400px;
        right: -60px;
        background: url(/images/pjt11.jpg) no-repeat 50% 50%;
        background-size: cover;
    }

    .project__image-14 {
        position: relative;
        top: -200px;
        left: -40px;
        background: url(/images/1.jpg) no-repeat 50% 50%;
        background-size: cover;
    }





    /* contact page */
    /* contact page */
    /* contact page */
    /* contact page */
    /* contact page */
    .contact-page {
        display: flex;
        flex-direction: column;
        padding: 10rem 5%;
        
    }

    .contact-info {
        padding: 0 5%;
    }

    .home-link a, .home-link {
        text-decoration: none;
        font-size: 20px;
        margin: 20px 0;
        text-align: center;
        color: #000;
        position: relative;
        margin-bottom: 10rem;
        
    }
    
    .contact-details {
        margin: 0 0 10rem;
    }
    
    .contact-details p, .contact-details a {
        font-size: 1.6rem;
        font-weight: 300;
        color: #000;
        margin-bottom: 1rem;
    }
    

    .form-section {
        width: 100%;
        display: flex;
        flex-direction: column;
        position: relative;
    }

    .form-text {
        font-size: 18px;
        font-weight: 300;
        
    }

    .field {
        margin-bottom: 15px;
    }

    .rect {
        width: 300px;
        height: 40px;
        font-size: 16px;
    }

    .textarea {
        width: 300px;
        font-size: 16px;
        padding: 5px;
        font-family: 'Roboto', sans-serif;
    }

    .button {
        background: #000;
        color: #fff;
        font: 16px;
        border: none;
        width: 300px;
        height: 40px;
        font-weight: 400;
    }








/* tablet veiw 768px and above */

@media screen and (min-width: 768px) {
    .nav-links {
        position: fixed;
        background-color: #fff;
        height: 100vh;
        width: 30%;
        top: 0;
        left: 70%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        padding: 10rem 0;
        transform: translateX(100%);
        transition: transform 0.4s ease;
        z-index: 100;
    }

    .active {
        transform: translateX(0);
    }

    .social-links {
        width: 25%;
        display: flex;
        justify-content: space-around;
        overflow: hidden;
    }

    .icon {
        width: 2rem;
        height: 2rem;
    }











    /* header section */
    /* header section */
    /* header section */
    /* header section */
    /* header section */
    .header {
        height: 100vh;
        width: 100%;
        position: relative;
        z-index: 1;
    }

    .header-img {
        height: 100vh;
        width: 100%;
        top: 0;
        left: 0;
        background-image: url(/images/header.jpg);
        background-position: center;
        background-size: cover;
        background-position: no-repeat;
        z-index: 1;
    }

    .header-text-container {
        position: absolute;
        top: 0;
        left: 0;
        height: 100vh;

        background-color: rgba(0, 0, 0, 0.3);
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .header-text {
        font-size: 9.5rem;
        position: relative;
        left: 20%;
        color: #fff;
        font-weight: 500;
        top: 0%;
        
    }



    .gallery-section {
        position: relative;
        overflow: hidden;
        background-color: rgb(255, 255, 255);
    }
    
    .project__container {
        width: 70%;
        margin: 100px auto;
        /* border: 1px solid #5c5c5c; */
        color: #fff;
        padding: 120px 40px;
        
    }
    
    
    
    .project__container-images {
        position: relative;
        width: 100%;
        /* height: 2000px; */
        padding: 40px 0;
    }
    
    .project__image {
        background: red;
        width: 500px;
        height: 700px;
        margin: 40px auto;
    }

    .img-text-container {
        width: 100%;
        height: 100%;
        display: grid;
        place-items: center;
    }

    .img-text {
        font-size: 3rem;
        color: #fff;
    }
    
    .project__image-one {
        background: url(/images/1.jpg) no-repeat 50% 50%;
        background-size: cover;
    }

    
    .project__image-two {
        position: relative;
        top: -100px;
        left: -260px;
        background: url(/images/2.jpg) no-repeat 50% 50%;
        background-size: cover;
    }
    
    .project__image-three {
        position: relative;
        left: 300px;
        background: url(/images/4.jpg) no-repeat 50% 50%;
        background-size: cover;
    }
    
    .project__image-four {
        position: relative;
        top: -200px;
        left: -100px;
        background: url(/images/pjt1.jpg) no-repeat 50% 50%;
        background-size: cover;
    }

    .project__image-five {
        position: relative;
        left: -10px;
        background: url(/images/5.jpg) no-repeat 50% 50%;
        background-size: cover;
    }
    
    .project__image-six {
        position: relative;
        top: -250px;
        right: -100px;
        background: url(/images/pjt6.jpg) no-repeat 50% 50%;
        background-size: cover;
    }

    .project__image-seven {
        background: url(/images/8.jpg) no-repeat 50% 50%;
        background-size: cover;
    }
    
    
    
    


    /* project page */
    /* project page */
    /* project page */
    /* project page */
    /* project page */
    .project__image-1 {
        position: relative;
        top: 100px;
        right: -300px;
        background: url(/images/pjt6.jpg) no-repeat 50% 50%;
        background-size: cover;
    }

    .project__image-2 {
        position: relative;
        top: -200px;
        right: 200px;
        background: url(/images/pjt4.jpg) no-repeat 50% 50%;
        background-size: cover;
    }

    .project__image-3 {
        position: relative;
        top: -100px;
        right: -400px;
        background: url(/images/pjt2.jpg) no-repeat 50% 50%;
        background-size: cover;
    }

    .project__image-4 {
        position: relative;
        top: -200px;
        left: -300px;
        background: url(/images/pjt14.jpg) no-repeat 50% 50%;
        background-size: cover;
    }

    .project__image-5 {
        position: relative;
        top: -200px;
        right: 0px;
        background: url(/images/pjt5.jpg) no-repeat 50% 50%;
        background-size: cover;
    }

    .project__image-6 {
        position: relative;
        top: -400px;
        left: 350px;
        background: url(/images/7.jpg) no-repeat 50% 50%;
        background-size: cover;
    }

    .project__image-7 {
        position: relative;
        top: -400px;
        left: 0px;
        background: url(/images/header.jpg) no-repeat 50% 50%;
        background-size: cover;
    }

    .project__image-8 {
        position: relative;
        top: -100px;
        right: 200px;
        background: url(/images/pjt1.jpg) no-repeat 50% 50%;
        background-size: cover;
    }

    .project__image-9 {
        position: relative;
        top: -400px;
        left: 350px;
        background: url(/images/pjt10.jpg) no-repeat 50% 50%;
        background-size: cover;
    }

    .project__image-10 {
        position: relative;
        top: -400px;
        left: 0px;
        background: url(/images/5.jpg) no-repeat 50% 50%;
        background-size: cover;
    }

    .project__image-11 {
        position: relative;
        top: -340px;
        right: 30px;
        background: url(/images/2.jpg) no-repeat 50% 50%;
        background-size: cover;
    }

    .project__image-12 {
        position: relative;
        top: -200px;
        left: 50px;
        background: url(/images/3.jpg) no-repeat 50% 50%;
        background-size: cover;
    }

    .project__image-13 {
        position: relative;
        top: -400px;
        right: -300px;
        background: url(/images/pjt11.jpg) no-repeat 50% 50%;
        background-size: cover;
    }

    .project__image-14 {
        position: relative;
        top: -200px;
        left: 150px;
        background: url(/images/1.jpg) no-repeat 50% 50%;
        background-size: cover;
    }








    /* contact page */
    /* contact page */
    /* contact page */
    .contact-page {
        display: flex;
        flex-direction: row;
        width: 100%;
        overflow: hidden;
        padding: 20rem 0;
    }

    .contact-info {
        width: 50%;
    }
    
    .form-section {
        width: 50%;
        padding: 5rem;
    }

.form-text {
    font-size: 18px;
    font-weight: 300;
}

.field {
    margin-bottom: 15px;
}

.rect {
    width: 300px;
    height: 40px;
    font-size: 16px;
}

.textarea {
    width: 300px;
    font-size: 16px;
    padding: 5px;
    font-family: 'Roboto', sans-serif;
}

.button {
    background: #000;
    color: #fff;
    font: 16px;
    border: none;
    width: 300px;
    height: 40px;
    font-weight: 400;
}
}




















/* pc screen 1024px */
/* pc screen 1024px */
/* pc screen 1024px */
/* pc screen 1024px */
/* pc screen 1024px */
@media screen and (min-width: 1024px) {
    .header-text {
        font-size: 13rem;
        position: relative;
        left: 20%;
        color: #fff;
        font-weight: 600;
        top: 50px;
        line-height: 10rem;
    }

    .img-text-container {
        width: 100%;
        height: 100%;
        display: grid;
        place-items: center;
    }

    .img-text {
        font-size: 5rem;
        color: #fff;
        font-weight: 600;
    }
}











